.task {
    position: relative;
    padding: 20px 16px;
    width: 100%-32px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid #bcc1ca;
    cursor: pointer;
    transition: 0.4s;
}

.task:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.task-header {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-menu {
    position: relative;
    width: 20px;
    height: 30px;
    border: none;
    background-color: transparent;
    mask-size: 26px 26px;
    mask-image: url('../images/options.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: black;
}

.task-description {
    color: #636c84;
}

.task-deadline {
    width: fit-content;
    padding: 4px;
    display: flex;
    gap: 6px;
    border-radius: 10px;
    color: #636c84;
    font-weight: 500;
}

.task-deadline::before {
    content: "";
    width: 20px;
    height: 20px;
    mask-size: 22px 22px;
    mask-image: url('../images/calendar.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: black;
}

.task-priority {
    width: fit-content;
    padding: 4px 8px;
    display: flex;
    gap: 6px;
    border-radius: 16px;
    color: #636c84;
    font-weight: 500;
    background-color: #f0f0f5;
}

.task-priority::before {
    content: "";
    width: 20px;
    height: 20px;
    mask-size: 22px 22px;
    mask-image: url('../images/dot.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: #636c84;
}

.task-dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
}

.task-dropdown-button {
    position: relative;
    width: 100%-16px;
    height: 40px;
    padding: 6px 8px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    background-color: #e1e1e6;
    transition: 0.4s;
}

.task-dropdown-button:hover {
    background-color: #bcc1ca;
}

.task-dropdown-button::after {
    content: "";
    width: 20px;
    height: 20px;
    mask-size: 24px 24px;
    mask-image: url('../images/expand.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: black;
    transition: 0.6s;
}

.task-dropdown-button_active {
    border-radius: 6px 6px 0px 0px;
    transition: 0.4s;
}

.task-dropdown-button_active::after {
    transform: rotate(180deg);
}

.task-dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.task-dropdown-content-button {
    position: relative;
    width: 100%;
    height: 40px;
    border: none;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    background-color: #f0f0f5;
    transition: 0.4s;
}

.lastList {
    border-radius: 0px 0px 6px 6px;
}

.task-dropdown-content-button:hover {
    background-color: #e1e1e6;
}