@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    padding: 0;
    margin: 0;
}

/* Button */

button, span {
    cursor: pointer;
}

h1, h2, h3, p {
    margin: 0;
}