.list {
    position: relative;
    width: 300px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 12px;
    font-family: Inter;
}

.list-header {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 2px 0px 2px 0px;
    border-style: solid;
    border-color: #e1e1e6;
}

.list-header div {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.list-menu {
    height: 40px;
    width: 30px;
    border: none;
    background-color: transparent;
    mask-size: 26px 26px;
    mask-image: url('../images/options.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: black;
}

.list-add-task {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 2px dashed #b5b8c9;
    background: transparent;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

.list-add-task::before {
    content: "";
    width: 20px;
    height: 20px;
    mask-size: 22px 22px;
    mask-image: url('../images/add.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: black;
}