.modal-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 5;
}

.modal {
    position: relative;
    width: 800px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.modal-header {
    position: relative;
    width: 100%-20px;
    height: 40px;
    padding: 0px 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    background-color: #5a647d;
}

.modal-close {
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    mask-size: 26px 26px;
    mask-image: url('../images/close.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: white;
    transition: 0.4s;
}

.modal-close:hover {
    background-color: #e73f2e;
}

.modal-body {
    position: relative;
    width: 100%-80px;
    height: 480px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 0px 0px 20px 20px;
    background-color: white;
    font-family: Inter;
}

.modal-body-header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modal-body-header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.body-header_button {
    position: relative;
    width: 110px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: 2px solid #e1e1e6;
    border-radius: 4px;
    background: transparent;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    transition: 0.4s;
}

.body-header_button:hover {
    border-radius: 6px;
    border-color: #b5b8c9;
}

.body-header_button::before {
    content: "";
    width: 20px;
    height: 20px;
    mask-size: 20px 20px;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: #636c84;
    transition: 0.4s;
}

.button-edit::before {
    mask-image: url('../images/edit.svg');
}

.button-cancel::before {
    mask-image: url('../images/cancel.svg');
}

.modal-body-info {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 14px;
}

.modal-body-info .info_block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
}

.info_block span, .info_block label {
    position: relative;
    width: 110px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 500;
    color: #636c84;
}

.info_block p {
    position: relative;
    font-weight: 500;
}

.info_block span::before, .info_block label::before {
    content: "";
    width: 20px;
    height: 20px;
    mask-size: 22px 22px;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: #636c84;
}

.status_label::before {
    mask-image: url('../images/status.svg');
}

.deadline_label::before {
    mask-image: url('../images/calendar.svg');
}

.priority_label::before {
    mask-image: url('../images/label.svg');
}

.modal-body-description {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-body-description p {
    color: #636c84;
}

/* Form */

.title_input {
    position: relative;
    width: 300px;
    height: 36px;
    outline: none;
    border: 2px solid #e1e1e6;
    border-radius: 4px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    transition: 0.4s;
}

.title_input:focus {
    border-radius: 6px;
    border-color: #b5b8c9;
}

.priority_select select {
    display: none;
}

.select_input_button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 26px;
    border: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    background-color: #e1e1e6;
    border-radius: 6px;
    transition: 0.4s;
}

.select_input_button:hover {
    background-color: #bcc1ca;
}

.select_input_button::after {
    position: absolute;
    left: 96px;
    content: "";
    width: 16px;
    height: 16px;
    mask-size: 20px 20px;
    mask-image: url('../images/expand.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: black;
    transition: 0.6s;
}

.select_input_button-active {
    border-radius: 6px 6px 0px 0px;
}

.select_input_button-active::after {
    transform: rotate(180deg);
}

.select_input_options {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.select_input_options button {
    position: relative;
    width: 120px;
    height: 26px;
    border: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    background-color: #f0f0f5;
    transition: 0.4s;
    z-index: 2;
}

.select_input_options button:hover {
    background-color: #e1e1e6;
}

.option_last {
    border-radius: 0px 0px 6px 6px;
}

.modal-body-description textarea {
    position: relative;
    width: 100%-10px;
    height: 90px;
    padding: 5px 10px;
    border: 2px solid #e1e1e6;
    border-radius: 4px;
    resize: none;
    outline: none;
    font-family: Inter;
    font-size: 16px;
    transition: 0.4s;
}

.modal-body-description textarea:focus {
    border-radius: 6px;
    border-color: #b5b8c9;
}

.form_button-submit {
    position: relative;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: #e1e1e6;
    opacity: 0.6;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.6s;
}

.form_button-submit:hover {
    color: white;
    background-color: #5a647d;
}