.nav {
  position: relative;
  width: 100%-60px;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  background-color: #f9f9f9;
}

.nav .title {
  font-size: 28px;
  font-weight: 700;
}

.nav .buttons-block {
  position: relative;
  display: flex;
  gap: 20px;
}

.nav .button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0px;
  gap: 8px;
  border-radius: 4px;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  transition: 0.4s;
}

.nav .button:hover {
  border-radius: 8px;
}

.button-history {
  width: 120px;
  border: 2px solid #e1e1e6;
  background: none;
}

.button-history::before {
  content: "";
  width: 20px;
  height: 20px;
  mask-size: 22px 22px;
  mask-image: url('../images/history.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: black;
}

.button-list {
  width: 180px;
  border: none;
  background: #5a647d;
  color: white;
}

.button-list::before {
  content: "";
  width: 20px;
  height: 20px;
  mask-size: 22px 22px;
  mask-image: url('../images/add.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: white;
}

.button-signup {
  width: 80px;
  border: 2px solid #e1e1e6;
  background: none;
}

.button-login {
  width: 80px;
  border: none;
  background: #5a647d;
  color: white;
}

.button-profile {
  height: 36px;
  width: 36px;
  padding: 0px;
  border: none;
  border-radius: 18px;
  background-image: url('../images/profile.png');
  background-size: 36px 36px;
  transition: 0.4s;
}

.button-logout {
  width: 80px;
  border: none;
  background: #5a647d;
  color: white;
}